.errorimg{
  text-align: center;
    margin: 20px 0px;
}
.errorimg .img-responsive{display: inline-block}

.tab-pane .related li{
  display: inline-block;
  border: 1px solid #ccc;
  padding: 3px;
margin: 8px;
vertical-align: middle}

.tab-pane .related li img
{
  height:214px ;
  width: 227px;
  object-fit: cover;
}

.download-pdf a {
  margin-bottom: 25px;
}
#description tbody>tr:nth-of-type(odd){
  background-color: #f9f9f9;
}
.related-produt-item p {
  padding: 0 10px;
}

.application-item h4 a{
  font-family: "san_francisco_textbold";
  color:#5d5e5d;
  margin-bottom: 20px;
  font-size: 20px;
}
.news-item h3 a{
  font-size: 24px;
  font-family: "san_francisco_textbold";
  color:#5d5e5d;
}
.news-events .no-padding{padding: 0 46px 0 0;}
.article-details{margin-bottom: 20px}
.article-details h4{margin-bottom: 10px}

.article-details .related li{
  display: inline-block;
  border: 1px solid #ccc;
  padding: 3px;
  margin: 8px;
  vertical-align: middle;
  text-align: center;
}
.article-details .related li img
{
  height:150px ;
  width: 200px;
  object-fit: cover;
}
.article-details .product-img{border: none}
.related-products .application-item figure img{/*height: 76px; width: 80px;*/ object-fit: cover}
.product-info .prodtitle{font-size: 28px;margin: 0px; text-align: left}

/*contact page content*/
.pagedetail{margin-bottom: 40px}
.pagedetail .pageimage{margin-bottom: 10px}
.pagedetail .pagecontent{text-align: justify}
/*contact page content*/